body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.first-section {
  height: 500px;
  margin-top: 5rem;
  text-align: center;
}

#sec1cont1 {
  margin-bottom: 2rem;
}

#footer {
  background-color: #1a324b;
  color: white;
  text-align: center;
  height: 125px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

#containercc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.bg {
  height: 100%;
  background-image: url(./umeed21a.jpeg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 2;
  letter-spacing: -0.05rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.service {
  text-align: center;
  font-weight: 900;
  margin-bottom: 5rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}
